.characterHeader {
  width: calc(95% - 2rem);

  padding: 1rem;

  border: solid 1px gray;
  border-radius: 10px;

  display: inherit;
  flex-direction: column;
}

.characterHeader .info {
  display: flex;

  justify-content: space-between;

  text-align: center;
  width: 100%;
}

.info input {
  max-width: 40%;
  text-align: center;
}

.info label {
  display: block;
  flex-grow: 50;
}

.statusContainer {
  width: 90%;
}

.abilitiesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.abilitiesContainer div {
  height: 3rem;
}

.abilitiesContainer label {
  text-transform: capitalize;
}

.abilitiesContainer input {
  width: 85%;

  text-align: center;
}
