.characterHeader {
  width: 95%;

  border: solid 1px gray;

  display: inherit;
  flex-direction: column;
}

.characterHeader .info {
  display: flex;

  justify-content: space-between;

  text-align: center;
  width: 100%;
}

.info input {
  max-width: 60%;
  text-align: center;
}

.info label {
  display: block;
  flex-grow: 50;
}
