label,
tr {
  color: white;
}

.characterHeader {
  width: calc(95% - 2rem);

  padding: 1rem;

  border: solid 1px gray;
  border-radius: 10px;

  display: inherit;
  flex-direction: column;
}

.characterHeader .info {
  display: flex;

  justify-content: space-between;

  text-align: center;
  width: 100%;

  margin-bottom: 0.5rem;

  color: white;
}

.info .name {
  margin: 0 auto;
  width: 100%;
  max-width: unset;
  font-size: 1.5rem;
  border-radius: 50px;
}

.info input {
  max-width: 40%;
  text-align: center;

  background-color: transparent;
  border: solid 1px white;
  border-radius: 8px;

  color: white;
}

.info label {
  color: white;
  display: block;
  flex-grow: 50;
}

.statusContainer .status {
  color: white;

  display: flex;

  justify-content: space-evenly;
  align-items: center;
}

h2 {
  color: white;
}

.status svg {
  margin-bottom: 0.35rem;
}

.status div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status label {
  margin-bottom: 5px;
}

.status input {
  text-align: center;
  background-color: transparent;
  border: solid 1px white;
  border-radius: 8px;
  text-indent: 35%;
  color: white;
}

.abilitiesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.abilitiesContainer div {
  height: 3rem;
}

.abilitiesContainer label {
  text-transform: capitalize;
}

.abilitiesContainer input {
  margin-top: 5px;

  width: 75%;

  text-align: center;
  text-indent: 20%;

  border: 1px white solid;
  border-radius: 15px;

  color: white;

  background-color: transparent;
}
