.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

section {
  width: 25dvw;
  height: calc(100dvh);
  background-color: lightgray;

  border-right: solid 2px gray;
}

.character-header {
  margin-bottom: 20px;
}

.character-header label,
.character-abilities label {
  margin-right: 10px;
}

.character-abilities input {
  width: 40px;
  margin-right: 10px;
}

h2 {
  margin-top: 20px;
}
