.App {
  position: relative;

  display: flex;

  flex-direction: row;

  text-align: center;
  font-family: Arial, sans-serif;
}

#sheetHeader {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 25dvw;
  height: calc(100dvh - 0.25rem - 2px);

  padding-top: 0.25rem;

  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.74);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(0, 0, 0, 0.25);

  transition: all 0.5s;
}

#sheetHeader.closed {
  transform: translate(-100%, 0%);
}

.character-header {
  margin-bottom: 20px;
}

.character-header label,
.character-abilities label {
  margin-right: 10px;
}

.character-abilities input {
  width: 40px;
  margin-right: 10px;
}

h2 {
  margin-top: 20px;
}

#trash {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  color: red;
}

.buttonsSpacing {
  width: 5rem;
  height: 100dvh;
}
