.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

#sheetHeader {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 25dvw;
  height: calc(100dvh - 0.25rem);
  background-color: lightgray;

  padding-top: 0.25rem;

  border-right: solid 2px gray;
}

.character-header {
  margin-bottom: 20px;
}

.character-header label,
.character-abilities label {
  margin-right: 10px;
}

.character-abilities input {
  width: 40px;
  margin-right: 10px;
}

h2 {
  margin-top: 20px;
}
